.page-home{
    h5 {
        font-weight: 500;
        margin-bottom: 18px;
        font-size: 25px;
    }

    .store-categories{
        margin-top: 35px;
    }

    .store-products {
        margin-top: 10px;
    }
}